@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<!DOCTYPE html>
<html>

<body>
    <ul class="nav nav-pills bg-primary">
        <li class="nav-item">
            <a class="nav-link" href="#">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#kategori">Kategoriler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#topluluk">Topluluklar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#hakkimizda">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#iletisim">İletişim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/odevler">Ödevler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Students">Öğrenciler</a>
        </li>
    </ul>
    </header>

    <!--menü bitişi-->

    <section>
        <!--Section başlığı-->
        <div class="col-lg-12 jumbotron jumbotron-fluid m-0">
            <div class="container">
                <h1 class="display-4 text-center">@Model.Title</h1>
                <p class="lead" style="text-align: center;">
                    @Model.Extract
                </p>
            </div>
        </div>

        <!--Gövde kısmı, etkinlikler,topluluk ve kategori card'ları burada bulunmaktadır.-->
        <div class="container bg-info">
            <!--Asıl gövde başlangıcı-->
            <div class="col-lg-12 text-center pt-4">
                <p class="h2">
                    by CLogic
                </p>
                <p class="font-weight-bold">
                    Farklı alanlardaki konferans ve yarışmaları düzenleyebilmenize, takip etmenize ve daha çok insana
                    ulaşmanıza olanak sağlayacak bir platform.
                </p>
            </div>

            <div class="row">
                <!--Etkinlik slider'ı (carousel)-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <br><br>
                    <h1 style="text-align: center;">Etkinlikler</h1>
                    <hr>
                    <!--slider butonları-->
                    <div class="controls-top">
                        <p style="text-align: center;">
                            <a class="btn-floating text-dark" href="#multi-item-example" data-slide="prev">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <a class="btn-floating text-dark" href="#multi-item-example" data-slide="next">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </p>
                    </div>

                    <!--Slider 1-->
                    <div class="carousel-inner" role="listbox">
                        @if (1 > 0)
                        {
                            int kalan = Model.Contents.Count();
                            for (int i = 0; i < (Model.Contents.Count() / 6) + 1; i++)
                            {
                                if (i == 0)
                                {
                                    @:<div class="carousel-item active">
                                        @for (int j = 0; j < 6 && j < kalan; j++)
                                        {
                                            var content = Model.Contents.ElementAt(j);
                                            <div class="col-lg-4 col-md-6 col-sm-12 p-2" style="float: left;">
                                                <div class="card h-100">
                                                    <div class="card-body d-flex flex-column">
                                                        <h5 class="card-title" style="min-height:100px">
                                                            @content.baslik
                                                        </h5>
                                                        <p class="card-text">@content.tarih</p>
                                                        <a href="@content.url" class="btn btn-primary mt-auto">Devam</a>@*buraya tıklanınca detayların olduğu bir sayfaya gitmeli*@
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    @:</div>
                                }
                                else
                                {
                                    @:<div class="carousel-item">
                                        @for (int j = 0; (j < 6) && (j < kalan); j++)
                                        {
                                            var content = Model.Contents.ElementAt(6 * i + j);
                                            <div class="col-lg-4 col-md-6 col-sm-12 p-2" style="float: left;">
                                                <div class="card h-100">
                                                    <div class="card-body d-flex flex-column">
                                                        <h5 class="card-title" style="min-height:100px">
                                                            @content.baslik
                                                        </h5>
                                                        <p class="card-text">@content.tarih</p>
                                                        <a href="@content.url" class="btn btn-primary mt-auto">Devam</a>@*buraya tıklanınca detayların olduğu bir sayfaya gitmeli*@
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    @:</div>
                                }
                                kalan = kalan - 6;
                            }
                        }

                    </div>


                </div>
                <!--Kategoriler bloğu-->
                <div class="col-lg-12">
                    <br><br>
                    <div id="kategori" class="navbarSpace"></div>
                    <br><br>
                    <h1 style="text-align: center;">Kategoriler</h1>
                    <hr>
                </div>
                <!--Kategori kartları-->
                <div class="card-columns m-5">

                    @foreach (var content in Model.kategoriler)
                    {
                        <div class="card m-2 p-5">
                            <a href="etkinlikler.html">
                                <img class="card-img-top" src="~/Images/bird_logo.png" alt="Card image">
                                <p class="card-text" id="topluluk-card-text">@content</p>
                            </a>
                        </div>
                    }
                </div>
                <!--Topluluk kartları.-->
                <div class="col-lg-12">
                    <br><br>
                    <div id="topluluk" class="navbarSpace"></div>
                    <br><br>
                    <h1 style="text-align: center;">Sevebileceğin Topluluklar</h1>
                    <hr>
                    <br><br>
                </div>

                <div>
                    @foreach (var community in Model.Communities)
                    {
                        <div class="col-md-3" style="float:left">
                            <div class="card mb-2">
                                <a asp-area="" asp-page="/topluluk">
                                    <img class="card-img-top" src=@community.img alt="Card image cap" />
                                </a>
                                <div class="card-body">
                                    <a asp-area="" asp-page="/topluluk">
                                        <h4 style="text-align: center;" class="card-title">@community.baslik</h4>
                                    </a>
                                    <p class="card-text">@community.icerik</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!--Hakkımızda bloğu-->
                <div id="hakkimizda" class="navbarSpace"></div>
                <div class="col-lg-12">

                    <br><br><br>
                    <h1 style="text-align: center;">Hakkımızda</h1>
                    <hr>
                    <p class="about-text">
                        Biz CLogic olarak gerek öğrenim gerekse kişisel gelişimde topluluk olmanın gücüne inanmaktayız.
                        Bir temel üzerine birleşen topluluklar
                        hem topluluktaki kişilere hem de topluma değer katar, değer üretir. Biz de bu motivasyonla
                        insanların varolan etkinlikleri takip
                        edebileceği, topluluklara katılabileceği ve hatta yeni topluluklar oluşturabileceği yeni bir
                        platform kurduk. Hedefimiz her geçen günle
                        birlikte yepyeni insanlara ulaşmak ve onları hedeflerine ulaştırabilecek olan topluluklarla
                        buluşturmak. Bir insanın hedefine ulaşmasını
                        sağlayabilirsek ne mutlu bize!
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
