@page
@model MarmaraWeb.Pages.odevlerModel
@{
    ViewData["Title"] = "Ödevler";
}
<!DOCTYPE html>
<html>

<body>
    <!--menü başlangıcı-->
    <ul class="nav nav-pills bg-primary">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Kategoriler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Topluluklar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/index">İletişim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/odevler">Ödevler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Students">Öğrenciler</a>
        </li>
    </ul>
    </header>
    
    <div class="container">
        <form class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Ne aramak istersiniz?"
                   aria-label="Search" asp-for="Term">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
        </form>


        <h2>@Model.Title</h2>
        <p>@Model.Extract</p>

        <h2>
            Projeler:
        </h2>
        @foreach (var project in Model.Projects)
        {
            <h3>@project.projectName</h3>
        }
        <br />
        <h2>
            Musicomm Verileri
        </h2>

        <div class="card-columns m-5">
            @if (Model.testModels != null)
            {
                foreach (var project in Model.testModels)
                {
                    <div class="card m-2 p-5">

                        <img class="card-img-top" src=@project.image alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">ID: @project.commentId</h5>
                            <p class="card-text">@project.comment</p>
                            <p><i class="fas fa-address-book"></i>@project.sender</p>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="card m-2 p-5">

                    <div class="card-body">
                        <h5 class="card-title">Paylaşımı durdurmuşlar</h5>
                        <p class="card-text">Yapacak bişey yok :(((</p>
                    </div>

                </div>
            }

        </div>


        <br />
        <h2>
            SongStuff Verileri
        </h2>

        <div class="card-columns m-5">
            @if (Model.songData != null)
            {
                foreach (var project in Model.songData)
                {
                    <div class="card m-2 p-5">

                        <a href="@project.url" class="btn btn-primary m-auto justify-content-center" target="_blank">İzle</a>
                        <div class="card-body">
                            <h5 class="card-title">ID: @project.id</h5>
                            <p class="card-text">Genre: @project.genre</p>
                            <p class="card-text">Duration: @project.duration</p>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="card m-2 p-5">

                    <div class="card-body">
                        <h5 class="card-title">Kaynağa Ulaşılamadı</h5>
                        <p class="card-text">Kaynak ile irtibata geçebilirsiniz.</p>
                    </div>

                </div>
            }

        </div>
    </div>
    <!--menü bitişi-->

</body>
</html>