@page
@model MarmaraWeb.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Öğrenciler";
}

<ul class="nav nav-pills bg-primary">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/index">Ana Sayfa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/index">Kategoriler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/index">Topluluklar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/index">Hakkımızda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/index">İletişim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/odevler">Ödevler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Students">Öğrenciler</a>
    </li>
</ul>
</header>
<div class="container">

    <h1>Öğrenciler Listesi</h1>

    <p>
        <a asp-page="Create">Yeni Oluştur</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FirstMidName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].EnrollmentDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Düzenle</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Detaylar</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>